<%- include("header", { location : "admin" }) %>

<div class="d-flex flex-column align-items-center pt-5">
    <div class="d-flex align-items-center card" style="width: 25rem;">
        <form class="my-4" style="width: 20rem;" method="post" action="/adminlogin/login">
            <input type="text" class="form-control mb-3 col-9" value="Admin" disabled>
            <label for="password" class="text-dark">Jelszó:</label>
            <input id="password" name="password" type="password" class="form-control" required>
            <% if (typeof badPass !=="undefined" ) { %>
                <div class="alert alert-danger mt-3 text-center py-2"><strong>Hibás jelszó!</strong></div>
            <% } %>
            <input type="submit" class="btn btn-success col-12 <%= typeof badPass !== "undefined" ? "" : "mt-3" %>" value="Bejelentkezés">
        </form>
    </div>
</div>

<%- include("footer") %>