<%- include("header", { location : "" }) -%>
    <section class="d-flex flex-column align-items-center pt-5">
        <div class="d-flex align-items-center card text-center col-10 col-lg-3">
            <div class="card-body col-10">
                <h5 class="card-title text-dark">Kedves látogató!</h5>
                <p class="card-text text-dark">
                    Ha velem szeretnél vizsgázni, akkor itt láthatod, hogy mikorra van még szabad helyem és
                    jelentkezhetsz is.
                    Ezzel csak nektek szeretnék segíteni. Továbbra is jelentkezni kell Neptunban az egyes
                    vizsgaalkalmakra.
                </p>
                <a class="btn btn-success col-12" href="/student">Tovább a jelentkezésre!</a>
            </div>
        </div>
    </section>
    <%- include("footer", { scriptLocation : "" }) %>